<!--- Footer --->
<footer>
  <div class="jumbotron jumbotron-fluid bg-secondary p-1 mt-5 mb-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
          <div class="card bg-secondary border-0">
            <div class="card-body text-light text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">By Jhon</h5>
              <p class="d-inline lead">Churivanti © 2024<br>

            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
          <div class="card bg-secondary border-0">
            <div class="card-body text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">Admin</h5>
              <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="bi bi-opencollective"></i></a>
              <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i></a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="card bg-secondary border-0">
            <div class="card-body text-center">
              <h5 class="card-title text-white display-4" style="font-size:30px">Web</h5>

              <a class="text-light" href="#"><i class="bi bi-pentagon-half"></i></a>

              <a class="text-light" href="#"><i class="fa fa-twitter-square fa-fw fa-2x"></i></a>

              <a class="text-light" href="#"><i class="fa fa-instagram fa-fw fa-2x"></i></a>

              <a class="text-light" href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--# Footer #-->
  
