<header>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-white" href="#"><i class="bi bi-cup-hot-fill fa-lg mr-2"></i> Cafecito-Dev</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nvbCollapse" aria-controls="nvbCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nvbCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item pl-1">
            <a class="nav-link" routerLink="/explore"><i class="bi bi-house-door-fill fa-fw mr-1 "></i> Explorar</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link" routerLink="/list-music"><i class="bi bi-person-circle fa-fw mr-1"></i> Lista de musica</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link" routerLink="/home"><i class="bi bi-search fa-fw mr-1"></i> Canciones</a>
          </li>
          <li class="nav-item pl-1">
            <a class="nav-link" routerLink="/list-albums"><i class="bi bi-search fa-fw mr-1"></i> Albums</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--# Navbar #-->
</header>

